.dialog {
  .MuiDialog-paper {
    max-width: 1200px;
  }

  .dialog__content {
    padding: 22px 32px 50px 32px;
  }

  .dialog__actions {
    padding: 22px 32px;
  }

  .MuiDialogActions-spacing > * + * {
    margin-left: 20px;
  }
}

.album {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .album__title {
    margin: 0;
    height: 50px;

    input {
      border-radius: 3px;
      box-sizing: border-box;
      color: #2a2626;
      font-family: 'Medium', 'Roboto';
      font-size: 20px;
      min-width: 300px;
      height: 50px;
      padding-left: 20px;
    }
  }

  &__actions {
    margin-left: auto;
    padding-left: 20px;
    white-space: nowrap;

    .button:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 0 10px 20px 10px;
    }
  }
}
