.event-gallery {
  width: 100%;
  height: calc(100vh - 60px);
  border: 1px solid rgba(112, 112, 112, 0.28);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; //changing the behaviour and position of the outer containers, event-gallery-slider and slide

  .event-gallery-slider {
    width: 280px;
    height: 531px;
    border: 3px solid red;
    @media only screen and (max-width: 1280px) {
      display: none;
    }

	
    .slide-picture-preview {
      width: 256px;
      height: 144px;
      border: 1px solid rgba(112, 112, 112, 0.37);
      border-radius: 2px;
    }
  }

  .event-gallery-slide {
    width: 900px;
    height: 530px;
    border: 5px solid yellow;
  }
}

.container {
  width: 100%;
  display: grid;
  grid-gap: 14px; //difference between div
  grid-template-areas: "title title title" "person person join" "event event weather" "event event social" "options options gmap" "text text gmap" "text text gmap" "text text gmap" "text text participant";
  @media only screen and (max-width: 960px) {
    grid-template-areas: "title title title title title" "person person person join join" "event event event wishlist wishlist" "options options options weather weather" "text text text social social" "text text text gmap gmap" "text text text participant participant";
  }

  @media only screen and (max-width: 600px) {
    grid-template-areas: "title" "wishlist" "social" "person" "event" "options" "text" "join" "weather" "gmap" "participant";
  }

  h1 {
    grid-area: title;
    font-size: 3.428rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  .personal-info {
    grid-area: person;
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 32px;

    h3 {
      color: rgba(42, 38, 38, 0.87);
      margin-left: 14px;
      font-size: 1.429rem;
    }

    img {
      width: 64px;
      height: auto;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }

    .location {
      margin-left: 42px;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 0;

        p {
          margin: 0 0 0 12px;
          font-size: 1rem;
          color: rgba(42, 38, 38, 0.87);
        }
      }
    }
  }

  .about-event-page {
    grid-area: text;

    h3 {
      font-size: 1.714rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      margin: 0 0 12px 0;
    }

    p {
      font-size: 1rem;
      margin: 0 0 8px 0;
      text-align: justify;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .event-key-info {
    grid-area: event;
    background-color: rgba(250, 250, 250, 0.87);
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 3px;
    padding: 0 22px 22px 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; //takes the text and bring it to another column in this case

    .key-info-section {
      min-width: 350px;

      h4 {
        font-size: 1.429rem;
        font-weight: 400;
        color: rgba(42, 38, 38, 0.87);
        margin: 16px 0 12px 0;
      }

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 6px 0;

        p {
          margin: 0 0 0 10px;
          padding: 0;
          font-size: 1.142rem;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }

  .included-options {
    grid-area: options;
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 3px;
    padding: 22px;

    h4 {
      font-size: 1.714rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      margin: 0;
    }

    .item {
      padding: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-size: 1.142rem;
        color: rgba(0, 0, 0, 0.87);
        margin: 0 0 0 12px;
      }
    }
  }

  .join-this-event-form {
    grid-area: join;
  }

  .weather-event-page {
    grid-area: weather;
  }

  .social-event {
    grid-area: social;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    h4 {
      font-size: 1.429rem;
      font-weight: 400;
      color: #2a2626;
    }
  }

  .google-map-event {
    grid-area: gmap;
    position: relative;
    height: 600px;
  }

  .participants {
    grid-area: participant;
    border: 1px solid rgba(112, 112, 112, 0.18);
    border-radius: 3px;
    padding: 22px;

    h4 {
      font-size: 1.714rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.87);
      margin: 0 0 18px 0;
    }
  }
}

h3 {
  font-size: 2.429rem;
  font-weight: 400;
  color: rgba(42, 38, 38, 0.87);
  margin: 0;
}

.addition-info {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; //when to many elements not to go to another row
}

.waypoints {
  margin-bottom: 22px;
}

.reviews-event-page {
  .reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 1.286rem;
      margin: 0;
    }
  }

  .rates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 22px 0;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        margin-left: 22px;
      }
    }
  }

  .user-review {
    width: 1366px;
    height: 600px;
    border: 1px solid violet;
  }

  .overal-profil-event-page {
    width: 100%;
    height: 500px;
    border: 1px solid blue;
  }
}

// const mapStyles = {
//   width: '100%',
//   height: '100%',
// };


@media (max-width: 600px) {
  
    .custom-my-event.container .social-event {
      align-items: start !important;
      justify-content: start !important;
    }

    .custom-my-event.container .social-event h4 {
      margin: 10px 10px 10px 0px !important;
    }

    .custom-my-event .event-title {
      font-size: 3rem !important;
    }
  
}