//Material pallete
$color-primary: #0d47a1;
$color-primary-light: #5472d3;
$color-primary-dark: #002171;
$color-secondary: #ff4081;
$color-secondary-light: #ff79b0;
$color-secondary-dark: #c60055;
$color-primary-text: #ffffff;
$color-secondary-text: #000000;
//Navbar
$color-desktop-navbar-background: rgba(0, 0, 0, 0.18);
$color-mobile-navbar-background: rgba(0, 0, 0, 0.18);
$color-menu-item: #000000;
$color-menu-item-hover: rgba(255, 255, 255, 0.22);
$color-desktop-logo: #000;
$color-mobile-logo: #fff;
//Navbar: Language picker
$color-desktop-language-picker: #000;
$color-mobile-language-picker: #000;
//Search component
$color-search-button: #2699FB;
//Account banner
$color-banner-button:#FF8C40;
$color-text-shadow: rgba(0, 0, 0, 0.18);
//Event card
$color-favorite-btn: #ffffff;
$color-box-shadow :rgba(61, 61, 61, 0.12);
$color-joined-people-label: #7D8D99;
//Footer
$color-footer-background: #292C2F;
$color-footer-links: rgba(255, 255, 255, 0.64);
$color-footer-text: rgba(255, 255, 255, 0.87);
$color-footer-divider: rgba(235, 235, 235, 0.18);
//Social media
$color-youtube: #FF0000;
$color-twitter: #1AB2E8;
$color-facebook: #3B5998;
