$width-content-container: 1920px;

// for desktop
$horizontal-intends-desktop: 32px;
$vertical-intends-desktop: 16px;
$gap-desktop: 10px;

// for tablets
$horizontal-intends-tablets: 12px;
$vertical-intends-tablets: 8px;
$gap-tablet: 8px;

// for mobiles
$horizontal-intends-mobiles: 4px;
$vertical-intends-mobiles: 8px;
$gap-mobile: 4px;
