@import "../../scss/sizes.scss";

.find-place-main-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  @media only screen and (max-width: 1200px) {
    padding: unset;
  }
  @media only screen and (max-width: 1024px) {
    max-width: unset;
    padding: 0;
  }
  @media only screen and (max-width: 960px) {
    padding: 0;
  }
  .text-field-button {
    display: flex;
    align-items: center;
  }

  .find-place-element {
    max-width: 600px;
    width: 100%;
    @media only screen and (max-width: 1200px) {
      //margin-left: auto;
      //margin-right: auto;
    }

    @media only screen and (max-width: 960px) {
      max-width: unset;
      padding: 0;
    }

    @media only screen and (max-width: 600px) {
      max-width: unset;
      padding: 0;
    }
  }
}
